language: php

php:
  - 7.1

before_script:
  - composer update

script:
  - vendor/bin/phpcs --extensions=php --standard=PSR2 src
  - vendor/bin/phpcpd src
  - vendor/bin/phpunit tests

notifications:
  email:
    - aoworld@meta.ua
