language: php

php:
  - 7.0.9

before_script:
  - composer update

script: 
  - vendor/bin/phpcs --extensions=php --standard=PSR2 src
  - vendor/bin/phpmd src text codesize,unusedcode,naming
  - vendor/bin/phpcpd src
  - vendor/bin/phpunit tests

notifications:
  email:
    - aoworld@meta.ua
